<div>
  <div class="jumbotron jumbotron-fluid" style="margin-bottom: -2vh">
    <div class="container">
      <h1 class="display-4">Here's Some Events</h1>
    </div>
  </div>
  <div class="card bg-dark text-white">
    <img
      src="/assets/images/header-img.jpg"
      class="card-img"
      style="height: 45vh"
      salt="..."
    />
    <div class="card-img-overlay">
      <h5 class="card-title">Event Title</h5>
      <p class="card-text">
        Event Description
      </p>
      <p class="card-text">
        Event Date
      </p>
      <!-- <p class="card-text">Last updated 3 mins ago</p> -->
    </div>
  </div>
</div>
