.jumbotron {
  background: url('/assets/images/header-img.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  padding: 10px;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.btn-default {
  background-color: #FFF;
  color:#000;
  border: solid 4px;
  border-color:#31347B;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color:rgb(33, 13, 60);
  border-color: rgb(33, 13, 60);
  color: #FFF;
 }
