a {
    color: #FFF;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: none;
    color: rgb(209, 209, 209);
}

/* Nav Header */
.bp3-font-size-large:hover {
    color: rgb(209, 209, 209);
}